<div id="invoice_details">
  <div class="sub_total">
    <label>Sub Total</label>
    <strong><%= number_to_currency @invoice.total, :unit => '£' %></strong>
  </div>
  <div class="vat">
    <label>VAT</label>
    <strong><%= number_to_currency @invoice.vat_amount, :unit => '£' %></strong>
  </div>
  <div class="total">
    <label>Total</label>
    <strong><%= number_to_currency @invoice.total_due, :unit => '£' %></strong>
  </div>
</div>

