<h2>Editing contact for <%= @client.name %></h2>

<%= render 'form' %>

<div class="controls">
  <%= link_to 'Back', contacts_path, :class => 'bigpic back' %>
  <%= link_to 'Show', @contact, :class => 'bigpic show' %>
</div>

