<h2>Contacts for <%= @client.name %></h2>

<table id="contacts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Main</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Skype</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @contacts %>
  </tbody>
</table>

<div class="controls">
  <%= link_to 'Back', clients_path, :class => 'bigpic back' %>
  <%= link_to 'New contact', new_client_contact_path(@client), :class => 'bigpic add', 'data-display' => 'popup' %>
</div>

