<h2>Editing project for <%= @client.name %></h2>

<%= render 'form' %>

<div class="controls">
  <%= link_to 'Back', projects_path, :class => 'bigpic back' %>
  <%= link_to 'Show', @project, :class => 'bigpic show' %>
</div>

