<% if @client -%>
<h2>New project for <%= @client.name %></h2>
<% else -%>
<h2>New project</h2>
<% end -%>

<%= render 'form' %>

<div class="controls">
  <% if @client -%>
    <%= link_to 'Back', client_projects_path(@client), :class => 'bigpic back' %>
  <% else -%>
    <%= link_to 'Back', projects_path, :class => 'bigpic back' %>
  <% end -%>
</div>

