<p>
  <b>Client:</b>
  <%= @project.client.name %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<div class="controls">
  <%= link_to 'Back', projects_path, :class => 'bigpic back' %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'bigpic edit' %>
</div>

