@import 'compass';

.icon {
  @include inline-block;
  height: 16px;
  width: 16px;
  @include replace-text('/assets/ruby.png');
  vertical-align: middle;
  cursor: pointer;
  background: {
    repeat: no-repeat;
    position: center center;
  }
}

input[type=submit], button {

  &.icon {
    border: none;
  }
}

.icon_left {
  padding-left: 20px;
  @include min-height(16px);
  @include inline-block;
  background: {
    repeat: no-repeat;
    position: left center;
  }
}

.icon_right {
  padding-right: 20px;  
  @include min-height(16px);
  @include inline-block;
  background: {
    repeat: no-repeat;
    position: right center;
  }
}

.icon, .icon_left, .icon_right {

  &.edit {
    background-image: url(/assets/pencil.png);
  }
  
  &.add {
    background-image: url(/assets/add.png);
  }

  &.delete {
    background-image: url(/assets/delete.png);
  }

  &.show {
    background-image: url(/assets/zoom.png);
  }

  &.yes {
    background-image: url(/assets/tick.png);
    cursor: default;
  }

  &.no {
    background-image: url(/assets/cross.png);
    cursor: default;
  }

  &.asc {
    background-image: url(/assets/arrow_up.png);
  }

  &.desc {
    background-image: url(/assets/arrow_down.png);  
  }
  
  &.reboot {
    background-image: url(/assets/arrow_refresh.png);
  }

  &.waiting {
    background-image: url(/assets/loading_16.gif);
  }

  &.toggle_closed, &.toggle {
    background-image: url(/assets/toggle_open.png);
  }

  &.toggle_open {
    background-image: url(/assets/toggle_closed.png);
  }

  &.unlocked {
    background-image: url(/assets/lock_open.png);
  }  
  
  &.locked {
    background-image: url(/assets/lock.png);
  }
  
  &.logout {
    background-image: url(/assets/door_out.png);
  }
  
  &.public {
    background-image: url(/assets/house.png);
  }
  
  &.download {
    background-image: url(/assets/attach_down.png);
  }
  
  &.statistics {
    background-image: url(/assets/chart_bar.png);
  }  
}
